* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100vw;
    display: table-cell;
    vertical-align: middle;
}

#buzki {
    text-align: center;
}

#buzki img {
    padding: 20px;
    width: 200px;
}

#hasla {
    border: 7px solid black;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: monospace;
    font-size: 45px;
    word-spacing: 5px;
}

#kategoria {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
}

#litery {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#litery button {
    width: 40px;
    height: 40px;
    margin: 10px;
}

#rezultat {
    text-align: center;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    letter-spacing: 3px;
    word-spacing: 3px;
    margin-bottom: 30px;
}

#odswiezenie {
    margin-top: 0px;
    text-align: center;
    margin-bottom: 25px;
}

#odswiezenie button {
    padding: 15px;
    letter-spacing: 3px;
    word-spacing: 1px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}

@media screen and (max-width: 1140px) {
    #hasla {
        font-size: 25px;
    }
}

@media screen and (max-width: 830px) {
    #buzki img {
        width: 150px;
    }

    #hasla {
        font-size: 20px;
    }

    #rezultat {
        font-size: 30px;
    }
}

@media screen and (max-width: 700px) {
    #hasla {
        font-size: 16px;
        letter-spacing: 5px;
        word-spacing: 0;
        border: 3px solid black;
    }

    #kategoria {
        font-size: 20px;
        letter-spacing: 3px;
        margin-top: 17px;
    }

    #litery {
        margin-top: 10px;
    }

    #litery button {
        width: 30px;
        height: 30px;
        margin: 5px; 
    }

    #rezultat {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    #buzki img {
        padding: 10px;
        width: 90px;
    }

    #rezultat {
        font-size: 16px;
    }
}

@media screen and (max-width: 460px) {
    #buzki img {
        width: 65px;
    }

    #hasla {
        width: 75%;
        letter-spacing: 3px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #rezultat {
        letter-spacing: 0;
        word-spacing: 0;
    }
}

@media screen and (max-width: 330px) {
    #litery button {
        width: 25px;
        height: 25px;
        margin: 3px;
    }

    #rezultat {
        font-size: 14px;
    }

    #odswiezenie button {
        padding: 8px;
        letter-spacing: 2px;
        word-spacing: 1px;
    }
}